@import 'variables';

.container {
    font-size: 1rem;
    width: 20px;
}

.user-avatar {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    padding: 2px;
    border: 1px solid #fff;
}

.checkbox-select-all-options {
    width: max-content !important;
}