<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Fatmouse courses</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mr-5 ml-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <img src="https://haycafe.vn/wp-content/uploads/2021/12/hinh-nen-anime-boy-dep-trai-soai-ca-ngau.jpg" alt=""
              class="user-avatar">
            Fatmouse
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/khoa-hoc/tao-khoa-hoc">Thêm khóa học</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/luu-tru/khoa-hoc-cua-toi">Khóa học của tôi</a></li>
            <li><a class="dropdown-item" href="/luu-tru/bai-viet-cua-toi">Bài viết của tôi</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
      <form method="post" class="d-flex">
        <input name="q" class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>